@font-face {
    font-family: 'myGothicExpandOne';
    src: url('./src/fonts/SpecialGothicExpandedOne-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

body {
    padding-top: 70px;
}

section {
    padding: 60px 40px;
}

nav {
    background-color: #101010;
    width: auto;
}

.project {
    background-color: #ffffff08;
    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


h2 + p, h3 + p {
    margin-top: 20px;
}

#intro, #projects, #contacts {
    font-family: 'myGothicExpandOne', 'Arial Black', 'Impact', 'Verdana', sans-serif;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5px;
}

a {
    color: #1496DE;
}

#contacts {
    background-color: #101010;
}


